<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apogee Athletic</title>

    <!-- Link Swiper's CSS -->
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="./static/styles.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="./static/images/favicon.ico">
</head>

<body>
<!-- Swiper -->

<div class="swiper mySwiper swiper-v">
    <div class="swiper-wrapper">
        <!-- HERO SLIDE -->
      <div class="swiper-slide slide-flow"
      id="section-hero">

        <div class="title-container">
          <img class="title" id="title" src="./static/images/apogee-athletic-white-words-outline.png" alt="apogee logo in white">
        </div>

      </div>

      <!-- VIDEO SLIDE -->
      <div class="swiper-slide slide-flow"
      id="section-video">

        <div class="section-overlay"></div>
        <img src="./static/images/play_circle_outline_white_24dp.svg" alt="play button" class="play-button" id="play-btn" onclick="playVideo()">
        <video 
        class="feature-video" 
        src="./static/images/hero-video.mp4" 
        frameborder="0"
        controls="true"></video>

      </div>

        <!-- PRODUCT SHOT SLIDE -->
      <div class="swiper-slide slide-flow"
      id="section-product-swiper">

        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-h">
              Horizontal Slide 1
            </div>
            <div class="swiper-slide swiper-h">
              Horizontal Slide 2
              </div>
            <div class="swiper-slide swiper-h">
              Horizontal Slide 3
            </div>
          </div>
        </div>

      </div>
      
      <!-- SHOP SLIDE -->
      <div class="swiper-slide slide-flow" id="section-shop">
        <div id='shop-left'></div>
        <div id='shop-right'></div>
        <div
        id='shop-container'>
            <h3
            id='shop-title'>shop.</h3>
            <div id='product-container'>
                <div id='product-component-1634052000875'
                class="product"></div>
                <div id='product-component-1634052049733'
                class="product"></div>
            </div>
        </div>

      </div>

      <!-- CONTACT SLIDE -->
      <div class="swiper-slide slide-flow" id="section-contact"> 
        <!-- podcast/listen section -->
        <div
        class="podcast-container">
        <div
        class='listen-copy-container'>
          <h3>listen in</h3>
          <div
          class='listen-copy'>
            <p>We created the Apogee Fitness Podcast to help spread the word for functional fitness.
              Tune in as we document our journey and discuss family, faith and fitness with athletes, 
              entrepreneurs and everyone in between.
            </p>
          </div>
          <div
          class='listen-icons-container'>
            <a class='listen-icon' href='#'>
              <img src='./static/images/social-icons/applepodcasts-svg.svg'>
            </a>
            <a class='listen-icon' href='#'>
              <img src='./static/images/social-icons/spotify-svg.svg'>
            </a>
            <a class='listen-icon' href='#'>
              <img src='./static/images/social-icons/youtube-svg.svg'>
            </a>
            <a class='listen-icon' href='#'>
              <img src='./static/images/social-icons/anchor-svg.svg'>
            </a>
          </div>
        </div>
          <div class='listen-img-container'>
            <div class='listen-img-top'>
              <div id='podcast-3'
              class='podcast-image'></div>
              <div id='listen-img-top-group'>
                <div id='podcast-1'
                class='podcast-image'></div>
                <div id='podcast-2'
                class='podcast-image'></div>
              </div>
            </div>
            <div id='podcast-4'
            class='podcast-image'></div>
          </div>
        </div>
        <!-- footer -->
        <div class="footer">
          <div
          class='social-icons-container'>
            <a class='social-icon' href='#'>
              <img src='./static/images/social-icons/facebook-svg.svg'>
            </a>
            <a class='social-icon' href='#'>
              <img src='./static/images/social-icons/instagram-svg.svg'>
            </a>
            <a class='social-icon' href='#'>
              <img src='./static/images/social-icons/twitter-svg.svg'>
            </a>
          </div>
          <p>copyright 2021 apogee athletic llc</p>

        </div>
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- custom js -->
  <script src="./static/index.js"></script>    
</body>
</html>